# Hardware Simulation Outputs & Compiles
hardware/rtl/*.vcd
hardware/rtl/*.out
hardware/rtl/*.gtkw

# Python Cache & Virtual Environment
.venv/
**/__pycache__/
*.pyc

# Local Media Renders & Binaries
*.bin
queue/
videos/

# VS Code & Local Settings
.vscode/
*.code-workspace

# Analytics & Local Telemetry Logs
docs/traffic_clones.json
docs/traffic_views.json
