# Large Datasets & NMNIST
data/
*.zip
*.tar.gz
*.bin

# EDA Simulation Outputs & Waveforms
hardware/rtl/*.vcd
hardware/rtl/*.gtkw
hardware/rtl/*.out
hardware/rtl/sim_build/
*.vvp
*.vcd
*.gtkw
*.out

# Media Renders
queue/
videos/
*.mp4
*.mp3
*.jpg
TEMP_MPY_*

# Security & Secrets
token.json
client_secret.json
.env

# Python Bytecode
**/__pycache__/
*.pyc

# Local Garbage Files
from src.social_publisher*
.vscode/
